<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
    	<typeAlias alias="DemoDto" type="net.herit.dto.DemoDto"/>
    	<typeAlias alias="ChsDeviceModelDto" type="net.herit.dto.ChsDeviceModelDto"/>
    	
        <package name="net.herit.dto"/>
    </typeAliases>
    
    <mappers>
        <mapper resource="mappers/demo.xml"/>
        <mapper resource="mappers/pvsMapper.xml"/>
    </mappers>
</configuration>
